/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding-inline: 10px;
  background-image: var(--page-bg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding-block: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--decor-color, #ff0070);
  border-block-start: 1px solid var(--decor-color, #ff0070);
  inset-inline-end: 0;
  inset-block-start: 10px;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--decor-color, #ff0070);
  border-block-end: 1px solid var(--decor-color, #ff0070);
  inset-inline-start: 0;
  inset-block-end: 10px;
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  justify-items: end;
  grid-column: span 2;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 12px;
}

.header__theme-menu-item {

}

.header__theme-menu-button {
  border: none;
  padding: 2px 13px 4px;
  color: var(--nav-color, #ff0070);
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-color, #ff0070);
}

.header__theme-menu-button_type_light {

}

.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}

.header__theme-title,
.footer__theme-title {
  grid-column: span 2;
  color: var(--page-title-color, #db00ff);
  font-size: 116px;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--page-title-shadow-color, #ff0070);
}

.header__theme-title_description {
  grid-column: span 2;
  align-self: center;
  color: var(--page-title-desc-color, #000028);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--page-title-bg-color, #ff0070);
}

.main {
  display: grid;
  gap: 50px;
  margin-block: 40px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-title {
  color: var(--section-title-color, #ff0070);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
}

.main__section-list {
  display: grid;
  gap: 20px;
}

.main__section-item {

}

.main__article {
  display: grid;
  gap: 10px;
}

.main__article-title {
  display: inline-block;
  color: var(--article-title-color, #000028);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--article-title-bg-color, #ff0070);
  inline-size: 100%;
}

.main__article-subtitle {
  display: inline-block;
  margin-block-start: 10px;
  margin-block-end: 10px;
  color: var(--article-subtitle-color, #000028);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--article-subtitle-bg-color, #ff0070);
  inline-size: 100%;
}

.main__article-text {
  color: var(--article-text-color, #f1b2ce);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
}

.mb_end_10 {
  margin-block-end: 10px;
}

.main__article-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--article-link-shadow-color, #ff0070);
}

.main__article-link:hover {
  border-bottom: 1px solid currentColor;
}

.main__section_gallery {
  display: grid;
  gap: 10px;
}

.main__section_gallery-title {
  display: inline-block;
  color: var(--gallery-title-color, #000028);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--gallery-title-bg-color, #ff0070);
  inline-size: 100%;
}

.main__section_gallery-list {
  display: grid;
  grid-auto-flow: dense;
  gap: 6px;
}

.main__section_gallery-item {

}

.main__section_gallery-image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.footer {
  display: grid;
  justify-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__theme-title {
  align-self: center;
}

@media (375px < width <= 768px) {
  .header__theme-title,
  .footer__theme-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (768px <= width <= 1024px) {
  .header__theme-title,
  .footer__theme-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width > 1024px) {
  .header__theme-title,
  .footer__theme-title {
    font-size: 9.8125rem;
  }
}

@media (width >= 768px) {
  .page {
    padding-inline: 20px;
  }

  .header {
    padding-block: 21px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
  }

  .header__theme-title {
    position: relative;
    inset-inline-start: calc(-1 * var(--main-gap));
  }

  .header__theme-title_description {
    grid-column: 2 / 3;
  }

  .main {
    gap: 80px;
    margin-block: 60px;
  }

  .main__section {
    grid-template-columns: 1fr 2fr;
  }

  .main__section:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .main__section:nth-child(2) .main__section-title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__section_gallery {
    gap: 20px;
  }

  .main__section_gallery-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(calc(100% - 40px) / 3));
    grid-auto-flow: dense;
    gap: 20px;
    min-block-size: 780px;
  }

  .main__section_gallery-item:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .main__section_gallery-item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: span 2;
  }

  .main__section_gallery-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .main__section_gallery-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-items: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .main__section:nth-child(2) .main__section-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
