/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0 auto;
  font-family: var(--main-font-family, Courier, monospace);
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  max-inline-size: 1440px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: 40px;
  padding-inline: 10px;
  padding-block: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--decor-color, #ff0070);
  border-block-start: 1px solid var(--decor-color, #ff0070);
  inset-inline-end: 10px;
  inset-block-start: 10px;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--decor-color, #ff0070);
  border-block-end: 1px solid var(--decor-color, #ff0070);
  inset-inline-start: 10px;
  inset-block-end: 10px;
  inline-size: 25px;
  block-size: 25px;
}

.page.theme_dark .header__rec {
  position: absolute;
  display: inline-block;
  color: var(--decor-color, #ff0070);
  font-weight: normal;
  font-size: 18px;
  line-height: calc(25 / 18);
  inset-inline-end: 38px;
  inset-block-start: 10px;
}

.page.theme_dark .header__rec::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decor-color, #ff0070);
  background-color: var(--decor-color, #ff0070);
  inline-size: 10px;
  block-size: 10px;
  inset-inline-end: -20px;
  inset-block-start: 8px;
}

@media (prefers-color-scheme: dark) {
  .header__rec {
    position: absolute;
    display: inline-block;
    color: var(--decor-color, #ff0070);
    font-weight: normal;
    font-size: 18px;
    line-height: calc(25 / 18);
    inset-inline-end: 38px;
    inset-block-start: 10px;
  }

  .header__rec::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--decor-color, #ff0070);
    background-color: var(--decor-color, #ff0070);
    inline-size: 10px;
    block-size: 10px;
    inset-inline-end: -20px;
    inset-block-start: 8px;
  }
}

@media (width >= 768px) {
  .page.theme_dark .header__rec {
    inset-inline-end: 48px;
    inset-block-start: 20px;
  }

  @media (prefers-color-scheme: dark) {
    .header__rec {
      inset-inline-end: 48px;
      inset-block-start: 20px;
    }
  }
}

.header__theme-menu {
  justify-items: flex-end;
  grid-column: span 2;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 11px;
}

.header__theme-menu-button {
  border: none;
  border-bottom: 1px solid transparent;
  padding: 2px 13px 4px;
  color: var(--nav-color, #ff0070);
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  --outline-color: color-mix(in hsl, var(--nav-color, #ff0070) 40%, transparent);
  outline: 1px solid var(--outline-color);
}

.header__theme-menu-button:active {
  outline: 1px solid var(--nav-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:not(:active):focus-visible {
  border-block-end: 1px solid var(--nav-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

/* не пригодились
.header__theme-menu-button_type_light {

}

.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}
*/

.header__title,
.footer__title {
  grid-column: span 2;
  color: var(--page-title-color, #db00ff);
  font-size: 116px;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--page-title-shadow-color, #ff0070);
}

.header__slogan {
  grid-column: span 2;
  align-self: center;
  color: var(--page-title-desc-color, #000028);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--page-title-bg-color, #ff0070);
}

.main {
  display: grid;
  gap: 50px;
  margin-block-end: 40px;
  padding-inline: 10px;
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* не пригодилось
.main__section .why {

}
*/

.main__section-title {
  color: var(--section-title-color, #ff0070);
  font-size: 18px;
  line-height: 1.3;
}

.main__section-list {
  display: grid;
  gap: 20px;
}

/* не пригодилось
.main__section-item {

}
*/

.main__article {
  display: grid;
}

.main__article-title {
  display: flex;
  margin-block-end: 10px;
  color: var(--article-title-color, #000028);
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--article-title-bg-color, #ff0070);
  inline-size: 100%;
}

.main__article-title_subtitle {
  font-weight: normal;
}

.main__article-text {
  margin-block-end: 20px;
  color: var(--article-text-color, #f1b2ce);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
}

.main__article-text:last-child {
  margin-block-end: 0;
}

.main__article-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--article-link-shadow-color, #ff0070);
}

.main__article-link:hover {
  border-block-end: 1px solid currentColor;
}

.main__article-link:focus {
  outline: none;
}

.main__article-link:not(:hover):not(:active):focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.main__article-list {
  padding-block-start: 10px;
}

.main__article-item {
  margin-block-end: 20px;
}

.main__article-item:last-child {
  margin-block-end: 0;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery .main__section-title {
  background-color: var(--article-title-bg-color, #ff0070);
}

.gallery .main__section-list {
  grid-auto-flow: dense;
  gap: 10px;
}

/* не пригодилось
.gallery__item {

}
*/

.main__section-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  justify-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  align-self: center;
}

@media (375px < width <= 768px) {
  .header__title,
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (768px <= width <= 1024px) {
  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width > 1024px) {
  .header__title,
  .footer__title {
    font-size: 9.8125rem;
  }
}

@media (width >= 768px) {
  .header {
    margin-block-end: 60px;
    padding-inline: 20px;
    padding-block: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__title {
    position: relative;
    inset-inline-start: calc(-1 * var(--main-gap));
  }

  .header__slogan {
    grid-column: 2 / 3;
  }

  .main {
    gap: 80px;
    margin-block-end: 60px;
    padding-inline: 20px;
  }

  .main__section-list {
    grid-column: 2 / -1;
  }

  .main__section.why {
    grid-template-columns: 1fr 2fr;
  }

  .main__section.what {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .what .main__section-list {
    grid-column: 1 / -1;
  }

  .what .main__section-title {
    grid-column: 1;
  }

  .main__section.how {
    grid-template-columns: 1fr 2fr;
  }

  .main__section.gallery {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery .main__section-title {
    grid-column: 1 / -1;
  }

  .gallery .main__section-list {
    gap: 20px;
    grid-column: 1 / -1;
  }

  .gallery .main__section-item:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .gallery .main__section-item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: span 2;
  }

  .gallery .main__section-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery .main__section-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-items: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .main__section.why {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .what .main__section-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main__section.how {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .how .main__article {
    grid-column: 2 / -1;
  }
}
