/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font-family: 'IBM Plex mono';
  --page-bg-color: #000028;
  --page-bg-image: url(../images/cover-image-dark.png);
  --decor-color: #ff0070;
  --nav-color: #ff0070;
  --page-title-color: #db00ff;
  --page-title-shadow-color: #ff0070;
  --page-title-bg-color: #ff0070;
  --page-title-desc-color: #000028;
  --section-title-color: #ff0070;
  --article-title-color: #000028;
  --article-title-bg-color: #ff0070;
  --article-text-color: #f1b2ce;
  --article-link-shadow-color: #ff0070;
  --article-subtitle-color: #000028;
  --article-subtitle-bg-color: #ff0070;
  --gallery-title-color: #000028;
  --gallery-title-bg-color: #ff0070;
  --main-gap: 10px;
}

@media (width >= 768px) {
  :root {
    --main-gap: 20px;
  }
}
